.wrap-header{
    --search-border-radius: 92px;
    --search-heigh: 46px;
    --search-top-spacer: 9px;
    --search-width: 361px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 50px;
    display: flex;
    justify-content: center;
}
.contain-header{
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}
.more-button{
    font-size: 2rem;
    cursor: pointer;
    padding: 0 20px;
    background-color: transparent;
}
.cloud-upload-btn, .message-btn{
    background-color: transparent;
    color: #4e4d4d;
    font-size: 16px;
}
.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-left: 12px;
    border-radius: 50%;
    cursor: pointer;
}