.search{
    border-radius: var(--search-border-radius);
    padding: 0px 0px 0px 16px;
    border: 2px solid transparent;
    width: var(--search-width);
    height: var(--search-heigh);
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;
    position: relative;
    input{
        border: none;
        background-color: transparent;
        font-size: 1.6rem;
        outline: none;
        height: 100%;
        flex: 1;
        caret-color: red;
        &:not(:placeholder-shown) ~ .search-btn{
            color: #787777;
        }
    }

    &::after{
        content: "";
        position: absolute;
        width: 1px;
        height: calc(var(--search-heigh) - var(--search-top-spacer)*2);
        top: var(--search-top-spacer);
        right: 52px;
        background-color: rgb(214, 213, 213);
    }
    &:focus-within{
            border: 2px solid #d0cccc;
    }
}
.search-result{
    --search-width: 361px;
    width: var(--search-width);
}
.search-title{
    color: rgb(109, 108, 108);
}
.search-btn{
    border: none;
    height: 100%;
    width: 52px;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: #bdbcbc;
    &:hover{
        background-color: #eae8e8;
        cursor: pointer;
    }
    &:active{
        background-color: #d0cccc;
    }
}
.close, .load{
    color: rgba(22, 24, 35, 0.34);
    font-size: 14.67px;
    position: absolute;
    right: 60px;
}