.wrapper{
    width: 100%;
    padding-top: 8px;
    height: fit-content;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12); 
}