.wrapper{
    display: flex;
    padding: 9px 16px;
    cursor: pointer;
    &:hover{
        background-color: rgb(211, 207, 207);
    }
}
.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    flex: 1;
    margin-left: 12px;
}
.name{
    font-size: 1.4rem;
    font-weight: 600;
}
.check{
    margin-left: 12px;
    font-size: 1.2rem;
    color: rgb(89, 146, 237);
}
.username{

}